body{
    font-family: 'Roboto', sans-serif;
}
.name-color{
    color: palevioletred;
    font-size: 50px;
}
.description-color{
    color: palevioletred;
}
h1{
    font-size: 40px;
}
.top-half-width{
    width: 30%;
    float: left;
    margin: 5%;
    padding: 2%;
}
.top-half-width img{
    width: 130%;
}
.top-half-width h1{
    margin-left: 100px;
}
.top-half-width p{
    margin-left: 100px;
}
.top-half-width a{
    margin-left: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, rgb(188, 143, 143), rgba(216, 112, 147, 0.486));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
a:hover{
    background-color: palevioletred;
}
.top-background{
    background-image: url(images/header-bg.png);
    background-size: cover;
    height: 700px;
}
.biography-background{
    background-image: url(images/biography-bg.png);
    background-size: cover;
    height: 700px;
}
.second-half-width img{
    width: 100%;
}
.second-half-width{
    width: 30%;
    float: left;
    margin: 5%;
    padding: 2%;
}
.second-half-width h1{
    margin-left: 50px;
}
.second-half-width p{
    margin-left: 50px;
}
.second-half-width a{
    margin-left: 50px;
}
.third-part img{
    width: 100%;
}
.third-part{
    width: 25%;
    float: left;
    margin: 3%;
    padding: 1%;
}
.latest-work{
    text-align: center;
}
#first{
    position: relative;
    left: 80px;
}
#third{
    position: relative;
    right: 80px;
}
.latest-work-background{
    background-image: url(images/latest-work-bg.png);
    background-size: cover;
    height: 500px;
}
.third-part:hover{
    width: 340px;
    height: 340px;
}
.final-text{
    text-align: center;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.put-together{
    text-align: center;
    background-image: linear-gradient(180deg, rgb(188, 143, 143), rgba(216, 112, 147, 0.486));
    margin: 10px 400px;
    height: 120px;
    border-radius: 5px;
    padding: 10px 100px;
}
.put-together:hover{
    background-color: palevioletred;
}
.last-part{
    text-align: center;
    font-size: 15px;
}
.footer-background{
    background-image: url(images/footer-bg.png);
    background-size: cover;
    height: 800px;
}